body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('../IMG/Fondo.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}